<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">




    <title>Feng's Portfolio</title>
  </head>



    <header>
      <script src="/Scripts/apss.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery/dist/jquery.min.js"></script>

       <nav>
        <ul class="nav_links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
     </nav>


    </header>

    <section>
        <h1 class="big-heading">Welcome to Feng's Portfolio</h1>
    </section>

    <footer>
        <div class="footer-bottom">
            <p>&copy; 2024 Feng's Portfolio. All rights reserved.</p>
            <ul class="social-links">
                <li><a href="https://github.com/your-profile" target="_blank">GitHub</a></li>
                <li><a href="feng.pan@ontariotechu.net">feng.pan@ontariotechu.net</a></li>
            </ul>
        </div>
    </footer>
  </body>
</html>
