<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">


    <title>Feng's Portfolio</title>
</head>
<body>
    <header>
     <nav>
        <ul class="nav_links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
     </nav>
    </header>
    <section>
        <p>
            This is a rock paper scissor game that I made with javascript.
        </p>
        <img src="/images/RPS.png" alt="RPS">
    </section>
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2024 Feng's Portfolio. All rights reserved.</p>
            <ul class="social-links">
                <li><a href="https://github.com/your-profile" target="_blank">GitHub</a></li>
                <li><a href="feng.pan@ontariotechu.net">feng.pan@ontariotechu.net</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>